body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #005EB8;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    margin: 20px 0;
}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}

nav a:hover {
    color: #ffd700; /* Gold color on hover */
    text-decoration: underline;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}

.social-icons {
    margin-top: 10px;
    text-align: center;
}

.social-icons a {
    color: #333;
    font-size: 24px;
    margin: 0 10px;
    transition: color 0.3s;
    text-decoration: none;
}

.social-icons a:hover {
    color: #005EB8; /* Blue color on hover */
}
